<%= form_with(model: vg, local: true) do |form| %>
  <% if vg.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vg.errors.count, "error") %> prohibited this vg from being saved:</h2>

      <ul>
      <% vg.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :titre %>
    <%= form.text_field :titre %>
  </div>

  <div class="field">
    <%= form.label :développeur %>
    <%= form.text_field :développeur %>
  </div>

  <div class="field">
    <%= form.label :année_de_sortie %>
    <%= form.number_field :année_de_sortie %>
  </div>

  <div class="field">
    <%= form.label :Note %>
    <%= form.text_field :Note %>
  </div>

  <div class="field">
    <%= form.label :Description %>
    <%= form.text_area :Description %>
  </div>

  <div class="field">
    <%= form.label :Image %>
    <%= form.text_field :Image %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
